body{
    padding: 0;
    margin: 0;
}
#nav{
    display: flex;
    flex-direction: column;
}

.icons{
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
}
.icons i{
    font-size: 20px;
    padding: 10px;
}
.title{
    margin-left: 20%;
    font-family: 'Roboto Mono', monospace;
    
}
.icons-two{
    margin-left: 30%;
}
.navbar-two {
   margin-left: 35%;
   margin-top: 2%;
}
.navbar-two a{
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
.yellow{
    margin-top: 3%;
    background-color: #ffdf00;
    height: 100px;
    width: 90%;
    margin-left: 5%;
}
.yellow h3  {
    text-align: center;
    padding-top: 10px;
}
.yellow p{
    text-align: center;
}
.grid-box{
    margin-top: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-gap: 20px;
}
.img-1{
    height: 500px;
    width:400px;
}
.text{
    margin-top: 10%;
    margin-left: 10%;

}
.text h3{
    font-family: 'Aboreto', cursive;
}
.text p{
    font-family: 'DynaPuff', cursive;
    
}
.center-place{
    margin-top: 5%;
}
.center-place h3{
    margin-left: 75%;
    font-family: 'DynaPuff', cursive;
}
.sticky-grid{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;

}
.right{
   
    margin-top: 2%;
    margin-right: 5%;
    
}
.right-images{
    height: 600px;
    width: 700px;
    position: sticky;
    top: 0;

}
.left{
  margin-top: 2%;
   display: grid;
   grid-template-columns: repeat(2,200px);
   grid-gap: 20px;
   margin-left: 5%;
}

.left-images{
    height: 300px;
    width: 200px;

}
.plans{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}
.plans-image{
    width: 600px;
    height: 600px;
}
    

.text-two{
    height: 600px;
    width: 600px;
    background-color: antiquewhite;
}
.text-two h3{
    text-align: center;
    margin-top: 25%;
    font-family: 'Aboreto', cursive;
  
}
.text-two p{
    width: 50%;
    margin-top: 10%;
    margin-left: 30%;
    font-family: 'DynaPuff', cursive;
}
.flex-one h3{
    margin-top: 5%;
    margin-left: 35%;
    font-family: 'Aboreto', cursive;
  
}
.flex-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     margin-top:5% ;
}
.flex-one p{
    font-family: 'DynaPuff', cursive;

}
.flex-image{
    width: 500px;
    height: 600px;
}
.left-flex{
    margin-left: 15%;
}
.right-flex{
    margin-right: 15%;
}
.grid-two h3{
    margin-top: 3%;
    margin-left: 5%;
    font-family: 'Aboreto', cursive;

}
.grid-three{
    margin-top: 5%;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-gap: 20px;
}
.grid-image{
    height: 300px;
    width: 400px;
}
.footer{
    height: 600px;
    background-color: #ffdf00;
    margin-top: 2%;
}
.footer-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10%;
   

}
.footer-one li{
    list-style-type: none;
    font-size: 12px;

}
.one-left{
    margin-left: 5%;
}
.one-left p{
    width: 80%;
    font-family: 'DynaPuff', cursive;
}
.one-left h3{
    font-family: 'Aboreto', cursive;

}
.box{
    background-color: #ffdf00;
}
.right-footer{
    margin-left: 5%;
   
}
.right-one{
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.right-one li{
    padding-top: 10px;
}
.right-two{
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.right-two li{
    padding-top: 10px;
}
.right-three{
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    width: 40%;
}
.right-three li{
    padding-top: 10px;
}
.footer-two{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.left-align h3{
    margin-left: 5%;

}
.left-align ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.left-align li{
    padding-left: 10px;
}

.footer-icons{
    margin-left: 25%;
    margin-top: 5%;
}
.footer-icons i{
    font-size: 15px;
    padding: 10px;
}



   

@media all and (min-width: 300px){
    .icons{
        display: flex;
        margin-left: 5%;
        margin-top: 5%;
        width: 200%;
    }
    .icons i{
        font-size: 10px;
        padding: 5px;
    }
    .icons input{
        display: none;
    }
    .title{
        margin-left: 7%;
        font-family: 'Roboto Mono', monospace;
    }
    .icons-three{
        margin-left: 10%;
    }

    .navbar-two{
        width:100%;
        font-size: 12px;
        margin-left: 2px;

    }
    .navbar-two a{
        margin-left: 5px;
    }
    .yellow{
        margin-top: 3%;
        background-color: #ffdf00;
        height: 80px;
        width: 80%;
        margin-left: 5%;
    }
    .yellow h3  {
        text-align: center;
        padding-top: 10px;
        font-size: 12px;
    }
    .yellow p{
        text-align: center;
        font-size: 12px;
        
    }
    .grid-box{
        margin-top: 5%;
        margin-left: 15%;
        display: grid;
        grid-template-columns: repeat(1,100px);
        grid-gap: 10px;
    }
    .text{
        margin-top: 10%;
        margin-left: 20%;
        font-size: 10px;
        width: 200%;
        
    }

    .img-1{
       height: 300px;
        width:200px;
    }
    .icons-two{
        display: none;
    } 
    .center-place h3{
        margin-left: 25%;
        font-family: 'DynaPuff', cursive;
        font-size: 15px;
    }  
    .sticky-grid{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        justify-content: space-between;
    
    }
    .left{
        margin-top: 2%;
         display: grid;
         grid-template-columns: repeat(1,200px);
         grid-gap: 20px;
         margin-left: 5%;
      }
    .right-images{
        height: 200px;
        width: 300px;
        margin-left: 5%;
    }
    .left-images{
        height: 300px;
        width: 200px;
        margin-left: 15%;
    }
    .plans{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    .plans-image{
        width: 300px;
        height: 200px;
    }
    
    .text-two{
        height: 300px;
        width: 300px;
         background-color: antiquewhite;
    }
    .text-two h3{
        text-align: center;
        margin-top: 10%;
        font-family: 'Aboreto', cursive;
        font-size: 15px;
      
    }
    .text-two p{
        width: 90%;
        margin-top: 10%;
        margin-left: 10%;
        font-family: 'DynaPuff', cursive;
    }
    .flex-one h3{
        margin-top: 5%;
        margin-left: 15%;
        font-family: 'Aboreto', cursive;
        font-size: 15px;
      
    }
    .flex-two{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         margin-top:5% ;
    }
    .flex-one p{
        font-family: 'DynaPuff', cursive;
    
    }
    .flex-image{
        width: 300px;
        height: 200px;
    }
    .left-flex{
        margin-left: 5%;
    }
    .right-flex{
        margin-left: 5%;
    }
    .grid-three{
        margin-top: 5%;
        margin-left: 5%;
        display: grid;
        grid-template-columns: repeat(1,200px);
        grid-gap: 20px;
    }
    .grid-image{
        height: 200px;
        width: 300px;
    }
    .footer-one{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10%;
    }
    .one-left{
        margin-left: 5%;
    }
    .one-left p{
        width: 80%;
        font-family: 'DynaPuff', cursive;
        font-size: 10px;
    }
    .one-left h3{
        font-family: 'Aboreto', cursive;
        font-size: 10px;
    
    }
    .right-one{
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .right-two{
        padding-left: 1%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .right-three{
        padding-left: 1%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer-two{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    .left-align h3{
        margin-left: 2%;
        font-size: 12px;
    }
    .left-align ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-size: 10px;
        margin-left: 0;
    }
    .footer-icons{
        margin-left: 25%;
        margin-top: 2%;
    }
}

@media all and (min-width: 600px){
    .icons{
        display: flex;
        margin-left: 5%;
        margin-top: 2%;
        width: 200%;
    }
    .icons i{
        font-size: 20px;
        padding: 5px;
    }
    
    .title{
        margin-left: 15%;
        font-family: 'Roboto Mono', monospace;
    }
    .icons-three{
        margin-left: 15%;
    }

    .navbar-two{
        
        font-size: 15px;
        margin-left: 30%;

    }
    .yellow{
        margin-top: 3%;
        background-color: #ffdf00;
        height: 100px;
        width: 80%;
        margin-left: 8%;
    }
    .grid-box{
        margin-top: 5%;
        margin-left: 20%;
        display: grid;
        grid-template-columns: repeat(2,200px);
        grid-gap: 10px;
    }
    .text{
        margin-top: 10%;
        margin-left: 0%;
        font-size: 15px;
        
    }

    .img-1{
          height: 300px;
          width:200px;
    }
    .icons-two{
        display: none;
    }
    .center-place h3{
        margin-left: 45%;
        font-family: 'DynaPuff', cursive;
        font-size: 15px;
    }  
    .sticky-grid{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        justify-content: space-between;
    
    }
    .left{
        margin-top: 2%;
         display: grid;
         grid-template-columns: repeat(2,200px);
         grid-gap: 10px;
         margin-left: 5%;
      }
    .right-images{
        height: 200px;
        width: 200px;
        margin-left: 5%;
        position: sticky;
        top: 0;
    }
    .left-images{
        height: 300px;
        width: 200px;
        margin-left: 15%;
    }
    .plans{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        margin-left: 5%;
    }
    .plans-image{
        width: 300px;
        height: 300px;
    }
    
    .text-two{
        height: 300px;
        width: 300px;
         background-color: antiquewhite;
    }
    .text-two h3{
        text-align: center;
        margin-top: 10%;
        font-family: 'Aboreto', cursive;
        font-size: 15px;
      
    }
    .text-two p{
        width: 90%;
        margin-top: 10%;
        margin-left: 9%;
        font-family: 'DynaPuff', cursive;
    }
    .flex-one h3{
        margin-top: 5%;
        margin-left: 30%;
        font-family: 'Aboreto', cursive;
        font-size: 15px;
      
    }
    .flex-two{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
         margin-top:5% ;
    }
    .flex-one p{
        font-family: 'DynaPuff', cursive;
    
    }
    .flex-image{
        width: 300px;
        height: 200px;
    }
    .left-flex{
        margin-left: 5%;
    }
    .right-flex{
        margin-left: 5%;
    }
    .grid-three{
        margin-top: 5%;
        margin-left: 5%;
        display: grid;
        grid-template-columns: repeat(2,300px);
        grid-gap: 20px;
    }
    .grid-image{
        height: 200px;
        width: 300px;
    }

    .footer{
        height: 700px;
        background-color: #ffdf00;
        margin-top: 2%;
    }
    .footer-one{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10%;
    }
    .one-left{
        margin-left: 5%;
    }
    .one-left p{
        width: 80%;
        font-family: 'DynaPuff', cursive;
        font-size: 10px;
    }
    .one-left h3{
        font-family: 'Aboreto', cursive;
        font-size: 10px;
    
    }
    .right-one{
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .right-two{
        padding-left: 1%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .right-three{
        padding-left: 1%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer-two{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }
    .left-align h3{
        margin-left: 2%;
        font-size: 12px;
    }
    .left-align ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-size: 10px;
        margin-left: 0;
    }
    .footer-icons{
        margin-left: 35%;
        margin-top: 2%;
    }
}
@media all and (min-width: 900px){
    .icons{
        display: flex;
        margin-left: 5%;
        margin-top: 2%;  
    }
    .icons i{
        font-size: 30px;
        padding: 10px;
    }
    .title{
        margin-left: 15%;
        font-family: 'Roboto Mono', monospace;
        font-size: 30px;
    }
    .icons-three{
        margin-left: 10%;
    }
    .navbar-two{
        
        font-size: 25px;
        margin-left: 30%;
    }
    .grid-box{
        margin-top: 5%;
        margin-left: 8%;
        display: grid;
        grid-template-columns: repeat(3,300px);
        grid-gap: 30px;
    }
    .text{
        margin-left: 7%;
        margin-top: 2%;
        width: 80%;
        font-size: 18px;   
    }

    .img-1{
       height:400px;
       width:300px;
    }
    .yellow h3  {
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
    }
    .yellow p{
        text-align: center;
        font-size: 20px;
    }
    .center-place h3{
        margin-left: 45%;
        font-family: 'DynaPuff', cursive;
        font-size: 25px;
    }  
    .sticky-grid{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        justify-content: space-between;
    
    }
    .left{
        margin-top: 2%;
         display: grid;
         grid-template-columns: repeat(2,200px);
         grid-gap: 10px;
         margin-left: 5%;
      }
    .right-images{
        height: 500px;
        width: 400px;
        margin-left: 5%;
        position: sticky;
        top: 0;
    }
    .left-images{
        height: 300px;
        width: 200px;
        margin-left: 15%;
    }
    .plans{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        margin-left: 12%;
    }
    .plans-image{
        width: 400px;
        height: 500px;
    }
    
    .text-two{
        height: 500px;
        width: 400px;
         background-color: antiquewhite;
    }
    .text-two h3{
        text-align: center;
        margin-top: 10%;
        font-family: 'Aboreto', cursive;
        font-size: 20px;
      
    }
    .text-two p{
        width: 60%;
        font-size: 20px;
        margin-top: 10%;
        margin-left: 9%;
        font-family: 'DynaPuff', cursive;
    }
    .flex-one h3{
        margin-top: 5%;
        margin-left: 30%;
        font-family: 'Aboreto', cursive;
        font-size: 25px;
      
    }
    .flex-two{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
         margin-top:5% ;
    }
    .flex-one p{
        font-family: 'DynaPuff', cursive;
    
    }
    .flex-image{
        width: 400px;
        height: 500px;
    }
    .left-flex{
        margin-left: 6%;
    }
    .right-flex{
        margin-right: 4%;
    }
    .grid-three{
        margin-top: 5%;
        margin-left: 5%;
        display: grid;
        grid-template-columns: repeat(3,300px);
        grid-gap: 20px;
    }
    .grid-image{
        height: 200px;
        width: 300px;
    }
    .footer{
        height: 600px;
        background-color: #ffdf00;
        margin-top: 2%;
    }
    .footer-one{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10%;
       
    }
    .one-left p{
        width: 80%;
        font-family: 'DynaPuff', cursive;
        font-size: 20px;
    }
    .one-left h3{
        font-family: 'Aboreto', cursive;
        font-size: 20px;
    
    }

    .footer-one li{
        font-size:15px;
    }
    .footer-two li{
        font-size: 18px;
    }
    .left-align h3{
        font-size: 15px;
    }
    .yellow{
        margin-top: 3%;
        background-color: #ffdf00;
        height: 100px;
        width: 90%;
        margin-left: 5%
    }
}

@media all and (min-width: 1200px){
    .icons{
        display: flex;
        margin-left: 5%;
        margin-top: 2%;  
    }
    .icons i{
        font-size: 30px;
        padding: 10px;
    }
    .title{
        margin-left: 17%;
        font-family: 'Roboto Mono', monospace;
        font-size: 30px;
    }
    .icons-three{
        margin-left: 15%;
    }

    .navbar-two{
        
        font-size: 25px;
        margin-left: 35%;
    }
    .grid-box{
        margin-top: 5%;
        margin-left: 5%;
        display: grid;
        grid-template-columns: repeat(3,400px);
        grid-gap: 30px;
    }
    .text{
        margin-left: 10%;
        margin-top: 10%;
        width: 100%;
        font-size: 25px;   
    }

    .img-1{
       height: 500px;
       width:400px;
    }
    .yellow h3  {
        text-align: center;
        padding-top: 10px;
        font-size: 25px;
    }
    .yellow p{
        text-align: center;
        font-size: 25px;
    }
    .center-place h3{
        margin-left: 70%;
        font-family: 'DynaPuff', cursive;
        font-size: 30px;
    }  
    .sticky-grid{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
        justify-content: space-between;
    
    }
    .left{
        margin-top: 2%;
         display: grid;
         grid-template-columns: repeat(2,300px);
         grid-gap: 10px;
         margin-left: 5%;
      }
    .right-images{
        height: 700px;
        width: 600px;
        margin-left: 5%;
        position: sticky;
        top: 0;
    }
    .left-images{
        height: 400px;
        width: 300px;
        margin-left: 15%;
    }
    .plans{
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        margin-left: 12%;
    }
    .plans-image{
        width: 500px;
        height: 600px;
    }
    
    .text-two{
        height: 600px;
        width: 500px;
         background-color: antiquewhite;
    }
    .text-two h3{
        text-align: center;
        margin-top: 10%;
        font-family: 'Aboreto', cursive;
        font-size: 25px;
      
    }
    .text-two p{
        width: 70%;
        font-size: 25px;
        margin-top: 10%;
        margin-left: 15%;
        font-family: 'DynaPuff', cursive;
    }
    .flex-one h3{
        margin-top: 5%;
        margin-left: 45%;
        font-family: 'Aboreto', cursive;
        font-size: 25px;
      
    }
    .flex-two{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
         margin-top:5% ;
    }
    .flex-one p{
        font-family: 'DynaPuff', cursive;
        font-size: 25px;
    
    }
    .flex-image{
        width: 600px;
        height: 700px;
    }
    .left-flex{
        margin-left: 6%;
    }
    .right-flex{
        margin-right: 4%;
    }
    .grid-three{
        margin-top: 5%;
        margin-left: 5%;
        display: grid;
        grid-template-columns: repeat(3,400px);
        grid-gap: 20px;
    }
    .grid-image{
        height: 500px;
        width: 400px;
    }
    .grid-two h3{
        font-size: 25px;
        margin-left: 15%;
    }
    .footer{
        height: 600px;
        background-color: #ffdf00;
        margin-top: 2%;
    }
    .footer-one{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10%;
       
    }
    .one-left p{
        width: 80%;
        font-family: 'DynaPuff', cursive;
        font-size: 25px;
    }
    .one-left h3{
        font-family: 'Aboreto', cursive;
        font-size: 25px;
    
    }
    .footer-two{
        display: flex;
        flex-direction: row;
        margin-top: 5%;
    }

    .footer-one li{
        font-size:20px;
    }
    .footer-two li{
        font-size: 20px;
    }
    .left-align h3{
        font-size: 25px;
    }
    .yellow{
        margin-top: 3%;
        background-color: #ffdf00;
        height: 100px;
        width: 90%;
        margin-left: 5%
    }
    .footer-icons{
        margin-left: 20%;
        margin-top: 5%;
    }
    .footer-icons i{
        font-size: 20px;
        padding: 10px;
    }
    .footer{
        height: 700px;
        background-color: #ffdf00;
        margin-top: 2%;
    }
    
}


   
